@import "tailwindcss";

@theme {
  /* using colors */
  --color-terminal-bg: #0d1117;
  --color-terminal-surface: #161b22;
  --color-terminal-border: #30363d;
  --color-terminal-text: #c9d1d9;
  --color-terminal-text-bright: #e6edf3;
  --color-terminal-text-dim: #8b949e;
  --color-accent: #3fb950;
  --color-accent-dim: #04342c;
  --color-tag-bg: #1f2d3d;
  --color-tag-text: #58a6ff;

  /* fonts */
  --font-mono: "JetBrains Mono", monospace;
  --font-sans: "Inter", sans-serif;
}

/* body properties */
body{
  background-color: var(--color-terminal-bg);
  color: var(--color-terminal-text);
  font-family: var(--font-sans);
}